.ticket-card {
  background-color: #ffffff; /* White background */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  width: 250px; /* Adjust the width as needed */
  height: 130px; /* Adjust the height as needed */
  margin-top: 10px;
  justify-content: space-between;
  font-size: small;

  /* Add more styles as needed for font, color, etc. */
}

.ticket-header {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: left;/* Vertically center content */
  justify-content: space-between; /* Add space between ID and user circle */
}

.user-circle {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  background-color: #3498db; /* Example background color for the circular user image */
  border-radius: 50%; /* Circular shape */
  overflow: hidden; /* Hide overflow if the image exceeds the circle */
}

.user-circle img {
  width: 100%; /* Ensure the image fits within the circle */
  height: auto;
}

.ticket-title {
  margin-top: 1px; /* Add spacing between ID section and title */
}

.ticket-tags {
  margin-top: 5px;
  margin-left: 4px;
  background-color: white;
  color: gray;
  border-color: white;
  
}
.dots{
  background-color: white;
  color: gray;
  border-color: white;
}


.tags-container {
  display: flex;
  align-items: center;  /* This will vertically align the items if they have different heights */
  gap: 10px;  
  /* Optional: To add some space between the button and the text */
  display: inline;
  
}


.ticket-tags{
  display: inline;
    border: 0.5px solid #eceef1; 
    border-radius: 5px; 
}

.dots{
  display: inline;
  border: 0.5px solid #eceef1; 
  border-radius: 5px; 
}